# Перенаправление HTTP на HTTPS
http://localhost {
  redir https://localhost{uri} permanent
}

# Обработка HTTPS
https://localhost {
  log {
    format json
  }

  encode zstd
  tls internal
  reverse_proxy /* app:8080
}
